In [6]:
import requests
import pandas as pd
import os

In [7]:
url = (
    "https://apisidra.ibge.gov.br/values/"
    "t/6381/"
    "n1/1/"
    "v/4099/"
    "p/all/"
    "d/v4099%202"
)

In [8]:
response = requests.get(url)
response.raise_for_status()

data = response.json()

In [9]:
df = pd.DataFrame(data)
df.head()

,NC,NN,MC,MN,V,D1C,D1N,D2C,D2N,D3C,D3N
0,Nível Territorial (Código),Nível Territorial,Unidade de Medida (Código),Unidade de Medida,Valor,Brasil (Código),Brasil,Variável (Código),Variável,Trimestre Móvel (Código),Trimestre Móvel
1,1,Brasil,2,%,8.00,1,Brasil,4099,"Taxa de desocupação, na semana de referência, ...",201203,jan-fev-mar 2012
2,1,Brasil,2,%,7.80,1,Brasil,4099,"Taxa de desocupação, na semana de referência, ...",201204,fev-mar-abr 2012
3,1,Brasil,2,%,7.70,1,Brasil,4099,"Taxa de desocupação, na semana de referência, ...",201205,mar-abr-mai 2012
4,1,Brasil,2,%,7.60,1,Brasil,4099,"Taxa de desocupação, na semana de referência, ...",201206,abr-mai-jun 2012

In [10]:
df = df.iloc[1:].reset_index(drop=True)

In [11]:
df = df[["D1N", "D3N", "V"]]

df.columns = [
    "territory",
    "period",
    "unemployment_rate"
]

In [12]:
df["period"] = df["period"].astype(str)
df["unemployment_rate"] = df["unemployment_rate"].astype(float)

In [13]:
import os

output_dir = "../data/raw"
os.makedirs(output_dir, exist_ok=True)

output_path = os.path.join(output_dir, "unemployment_rate_brazil.csv")
df.to_csv(output_path, index=False)

output_path

'../data/raw\\unemployment_rate_brazil.csv'